{{ define "main" }}

<section class="site-software-header">
  <div class="container">
    <div class="row justify-content-right">
      <div class="col-lg-12 text-center">
        <h1>{{ .Title }}</h1>
        <h6> {{ .Params.tagline }} </h6>
        <p>
      <div class="col-lg-12 text-left">
          {{ .Params.dart }}
      </div>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-software-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-software-wrapper">
          <div class="site-software-git">
             <center>
              <a target="_blank" href="{{ .Params.github | absURL }}">
              <h1>
              Get Dart <a href="{{ .Params.github | absURL }}"><i class="fa fa-github"></i></a>
              </h1>
              </a>
             </center>
          </div> 
          <div class="site-software-documentation">
            <p> 
              {{ .Params.code }} <a href="{{ .Params.github | absURL }}"><i class="fa fa-github"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="site-software-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-software-wrapper">
          <div class="site-software-docs">
             <center>
              <a target="_blank" href="https://dart-documentation.readthedocs.io/en/latest/">
              <h1>
              Read the docs
              </h1>
              </a>
             </center>
          </div>
          <div class="site-software-description">
            <p>
              {{ .Params.Docs }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-software-section">
  <div class="container">
  </div>
</section>

{{ partial "get_help.html" . }}

{{ partial "clients.html" . }}


{{ end }}
