{{ define "main" }}

<section class="site-software-header">
</section>


<section class="site-software-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-software-wrapper">
          <div class="site-software-docs">
             <center>
              <a target="_blank" href="https://dart-documentation.readthedocs.io/en/latest/">
              <h1>
              Read the docs
              </h1>
              </a>
             </center>
          </div>
          <div class="site-software-description">
            <p>
              {{ .Params.Docs }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="site-software-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-software-wrapper">
          <div class="site-software-git">
             <center>
              <a target="_blank" href="https://github.com/NCAR/DART">
              <h1>
              Get Dart
              </h1>
              </a>
             </center>
          </div> 
          <div class="site-software-documentation">
            <p>
              {{ .Params.Documentation }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="site-expertise">
  <div class="container">
    <div class="row">
      {{ with .Params.expertise_title }}
      <div class="col-md-5">
        <div class="section-title">
          <h2>{{ . }}</h2>
        </div>
      </div>
      {{ end }}
      <div class="col-md-6">
        <ul class="site-expertise-list">
          {{ range .Params.expertise_sectors }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ partial "clients.html" . }}


{{ end }}
