<footer class="site-footer">
  <div class="container">
    <div class="row">
      {{ with .Site.Params.footer.contactInfo }}
      <div class="col-lg-3 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <p class="site-footer-widget-description">
            {{ .address | safeHTML }}
            <br>
            <a href="tel:{{ .phone }}">{{ .phone }}</a>
            <br>
            <a href="mailto:{{ .email }}">{{ .email }}</a>
          </p>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.sitemap }}
      <div class="col-lg-2 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <ul class="site-footer-widget-links">
            {{ range .link }}
            <li><a href="{{ .url | absURL }}">{{ .name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      <div class="col-lg-4 col-md-6">
        <div class="site-footer-widget">
          <ul class="site-footer-widget-links">
<p>The National Center for Atmospheric Research is sponsored by the National Science Foundation. Any opinions, findings and conclusions or recommendations expressed in this material do not necessarily reflect the views of the National Science Foundation.</p>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="site-footer-logo"><a href="{{ .Site.BaseURL }}"><img src="{{ "images/ncar-koru/footer-logo-nsf.png" | absURL }}" alt="logo-footer"></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 col-md-8">
        <div class="site-footer-widget">
          <center> © {{ now.Year }} UCAR </center>
        </div>
      </div>
      <div class="col-lg-1 col-md-8">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title"> <a href="https://www.ucar.edu/privacy-notice">Privacy</a> </h5>
        </div>
      </div>
      <div class="col-lg-1 col-md-8">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title"> <a href="https://www.ucar.edu/cookie-other-tracking-technologies-notice">Cookies</a> </h5>
        </div>
      </div>
      <div class="col-lg-1 col-md-8">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title"> <a href="https://www.ucar.edu/terms-of-use">Terms of Use</a> </h5>
        </div>
      </div>
      <div class="col-lg-2 col-md-8">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title"> <a href="https://www.ucar.edu/notification-copyright-infringement-digital-millenium-copyright-act">Copyright Issues</a> </h5>
        </div>
      </div>
      <div class="col-lg-2 col-md-8">
        <div class="site-footer-widget">
          <center>
          <h5 class="site-footer-widget-title"> <a href="https://nsf.gov">Sponsored by NSF</a> </h5>
          </center>
        </div>
      </div>
      <div class="col-lg-1 col-md-8">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title"> <a href="https://ncar.ucar.edu">NCAR Home</a> </h5>
        </div>
      </div>
      <div class="col-lg-1 col-md-8">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title"> <a href="https://www.ucar.edu">UCAR Home</a> </h5>
        </div>
      </div>
    </div>
  </div>
</footer>

{{ $formhandler := resources.Get "js/formhandler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script>
{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
