<section class="site-contact" style="padding-top: 80px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1 class="site-contact-heading" >
          Need help?
        </h1>
      </div>
      <div class="col-md-6">
        <ul class="site-expertise-list">
          <li> Email us at <a href="mailto: dart@ucar.edu">dart@ucar.edu</a></li>
          <li> File a <a href="https://github.com/NCAR/DART/issues">github issue</a></li>
        </ul>
      </div>
</section>

