.site-software{
  &-header{
    padding-top: 180px;
    background-color: $primary-color;
    background-image: linear-gradient(to right, black, $primary-color);
    padding-bottom: 20px;
    @include mobile{
      padding-top: 100px;
      text-align: center;
    }
    h1{
      color: $white; 
      font-weight: 600;
      font-size: 55px;
      line-height: 60px;
    } 
    h6{ 
     color: $white;
     font-size: 20px;
    }   
  }
  &-section{
    padding-top:40px;
    background-color: $white;
    @include mobile{
      padding-top: 60px;
      text-align: center;
    }   
  }
  &-content{
    background: $white;
    width: 100%;
    padding: 45px 50px;
    bottom: 0;
    span{
      color: $secondary-color;
      font-weight: 600;
    }
  }
  &-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &-git{
    background: $primary-color;
    width: 40%;
    padding: 70px 38px;
    @include desktop{
      width: 100%;
      margin-bottom: 20px;
    }
    h1{
      color: $white;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    a{  
      color: $white;
      transition: all 0.3s $site-ease;
      display: block;
    }
  }
  &-docs{
    background: $secondary-color;
    width: 40%;
    padding: 70px 38px;
    @include desktop{
      width: 100%;
      margin-bottom: 20px;
    }   
    h1{ 
      color: $white;
      font-weight: 400;
      font-size: 30px;
      line-height: 60px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    a{  
      color: $white;
      transition: all 0.3s $site-ease;
      display: block;
    }   
   
  }
  &-description{
    width: 60%;
    padding-left: 50px;
    @include desktop{
      width: 100%;
      padding: 0 38px;
    }
    p{
      font-size: 25px;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
  &-documentation{
    width: 60%;
    padding-left: 50px;
    @include desktop{
      width: 100%;
      padding: 0 38px;
    }   
    p{  
      font-size: 25px;
      font-weight: 300;
      margin-bottom: 0;
    }   
  }
    &-buttons{
      margin: 0;
      padding: 0;
      li{ 
        display: inline-block;
        @include mobile{
          display: block;
        }   
        &:not(:last-child){
          margin-right: 30px;
          @include mobile{
            margin-right: 0;
            margin-bottom: 20px;
          }   
        }   
        .btn{
          font-weight: 600;
          @include mobile{
            width: 90%;
            margin: 0 auto;
            display: block;
          }   
        }   
      }   
    }  
}
